<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-recipes [user]="user" *ngIf="!isHidden">
        <!-- <button class="btn btn-warning" #contentExample>{{ 'Content' }}</button> -->
        <p #contentExample>
          <strong *ngIf="title">{{ title }}</strong>
        </p>
      </app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
<hr>
<input [(ngModel)]="user.name">
<h3>From App : {{ user.name }}</h3>
<button (click)="user = { name: 'app' }">OnChanges</button>
<button (click)="isHidden = !isHidden;">Toggle Visibility</button>
<hr>
